 .navbar {
  background-color: white; }

  .imgLogo {
  margin: 0;
  padding: 0;
  justify-self: start;
  align-self: center; }

.usuario {
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;}

.chango {
  margin: 0;
  padding: 0;
  justify-self: start;
  align-self: center;}

  .proceso {
  width: $ancho-pantalla;
  background-color: #9c9c9c;
  padding-top: $espacio;
  padding-bottom: $espacio;
  align-items: center;
  justify-content: center;
  text-align: center; }

  .pieDePagina {
  background-image: linear-gradient(to top, black, #191970);
  width: $ancho-pantalla;
  padding-top: $espacio;
  padding-bottom: $espacio; }

.redesSociales {
  color: black;
  width: 50%;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  align-content: center; }

.hvRedes {
  text-decoration: none;
  color: white; }

.imgRedesSociales {
  width: auto;
  height: 45px;
  padding: 10px; }

.formulario {
  background-color: #333;
  color: white;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  border: groove 3px white;
  padding-bottom: 5px; }

.copyright {
  color: white;
  background-color: black;
  text-align: center;
  width: $ancho-pantalla;
  padding-top: $espacio;
  padding-bottom: $espacio; }